language: go

dist: xenial
os: linux

sudo: required

go:
  - 1.14.x

env:
  jobs:
    - TEST_SUITE=basic

    - TEST_SUITE=minikube-short REQUIRES_MINIKUBE=true
    - TEST_SUITE=minikube-long REQUIRES_MINIKUBE=true
    - TEST_SUITE=minikube-diagnostics REQUIRES_MINIKUBE=true
    - TEST_SUITE=minikube-upgrade REQUIRES_MINIKUBE=true

    # does not work due to KVM/Virtualbox limitations of Travis
    # Minishift can not run with --vm-driver=none https://github.com/minishift/minishift/issues/2757
    #- TEST_SUITE=minikube-short REQUIRES_MINISHIFT=true
    #- TEST_SUITE=minikube-long REQUIRES_MINISHIFT=true
  global:
    - HELM_VERSION="v3.2.4"
    - DEP_VERSION=0.5.4
    - KUBERNETES_VERSION=1.18.0
    - OPENSHIFT_VERSION=3.11.0
    - MINIKUBE_VERSION=1.10.1
    - MINISHIFT_VERSION=1.34.2
    - MINIKUBE_WANTUPDATENOTIFICATION=false
    - MINIKUBE_WANTREPORTERRORPROMPT=false
    - MINIKUBE_HOME=$HOME
    - CHANGE_MINIKUBE_NONE_USER=true
    - KUBECONFIG=$HOME/.kube/config

before_install:
  - |
    BASE_COMMIT=$(git merge-base HEAD master)
    MODIFIED_FILES=$(git diff --name-only "${BASE_COMMIT}")
    # waiting for native solution https://github.com/travis-ci/travis-ci/issues/6301
    if ! echo "${MODIFIED_FILES}" | grep -qvE '(\.md$)'; then
      echo "Only docs were updated, stopping build process."
      exit
    fi
  - sudo apt-get update
  - sudo apt-get install socat
  - sudo apt-get install conntrack
  - chmod +x scripts/ci/install_deps.sh
  - scripts/ci/install_deps.sh

script:
  - chmod +x scripts/ci/determine_and_run_tests.sh
  - scripts/ci/determine_and_run_tests.sh

addons:
  artifacts: true
