
{{- if .Values.nuocollector }}
{{- if and (eq (include "defaultfalse" .Values.nuocollector.enabled) "true") .Values.nuocollector.plugins }}
{{- if .Values.nuocollector.plugins.admin }}
{{- range $pluginName, $content := .Values.nuocollector.plugins.admin }}
{{- if $content }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: {{ template "admin.fullname" $ }}
    group: nuodb
    domain: {{ $.Values.admin.domain }}
    chart: {{ template "admin.chart" $ }}
    release: {{ $.Release.Name | quote }}
    "nuodb.com/nuocollector-plugin": {{ template "admin.fullname" $ }}
  name: nuocollector-{{ template "admin.fullname" $ }}-{{ $pluginName }}
data:
  {{ $pluginName }}.conf: |-
    {{- tpl $content $ | nindent 4}}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
