---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: {{ template "database.fullname" . }}
    group: nuodb
    domain: {{ .Values.admin.domain }}
    chart: {{ template "database.chart" . }}
    release: {{ .Release.Name | quote }}
  name: {{ template "database.fullname" . }}-nuote
data:
{{ (.Files.Glob "files/nuote").AsConfig | indent 2 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: {{ template "database.fullname" . }}
    group: nuodb
    domain: {{ .Values.admin.domain }}
    chart: {{ template "database.chart" . }}
    release: {{ .Release.Name | quote }}
  name: {{ template "database.fullname" . }}-nuosm
data:
{{ (.Files.Glob "files/nuosm").AsConfig | indent 2 }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: {{ template "database.fullname" . }}
    group: nuodb
    domain: {{ .Values.admin.domain }}
    chart: {{ template "database.chart" . }}
    release: {{ .Release.Name | quote }}
  name: {{ template "database.fullname" . }}-restore
data:
  NUODB_IMPORT_URL: {{ .Values.database.import.url }}
  NUODB_IMPORT_STRIP_LEVELS: {{ default "1" .Values.database.import.stripLevels | quote }}
  NUODB_RESTORE_REQUEST_PREFIX: {{ default "/nuodb/nuosm/database" .Values.backup.requestPrefix }}
  NUODB_LATEST_BACKUP_PREFIX: {{ default "nuodb-backup/last_created" .Values.backup.latestPrefix }}

