{{- if or (not .Values.openshift.enabled) (not .Values.openshift.enableDeploymentConfigs) }}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: {{ template "database.fullname" . }}
    group: nuodb
    database: {{ .Values.database.name }}
    domain: {{ .Values.admin.domain }}
    chart: {{ template "database.chart" . }}
    release: {{ .Release.Name | quote }}
  name: te-{{ template "database.fullname" . }}
spec:
  replicas: {{ .Values.database.te.replicas }}
  selector:
    matchLabels:
      app: {{ template "database.fullname" . }}
      component: te
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: {{ template "database.fullname" . }}
        group: nuodb
        database: {{ .Values.database.name }}
        domain: {{ .Values.admin.domain }}
        component: te
        chart: {{ template "database.chart" . }}
        release: {{ .Release.Name | quote }}
    spec:
      {{- with .Values.database.te.nodeSelector }}
      nodeSelector:
{{ toYaml . | trim | indent 8 }}
      {{- end }}
{{- if .Values.database.te.affinity }}
      affinity:
{{ tpl .Values.database.te.affinity . | trim | indent 8 }}
{{- end }}
      {{- if .Values.database.te.tolerations }}
      tolerations:
{{ toYaml .Values.database.te.tolerations | trim | indent 8 }}
      {{- end }}
      containers:
      - name: te-{{ template "database.fullname" . }}
        image: {{ template "nuodb.image" . }}
        imagePullPolicy: {{ .Values.nuodb.image.pullPolicy }}
    {{- include "database.capabilities" . | indent 8 }}
        args:
          - "nuote"
          - "--database-created-timeout"
          - "300"
          - "--servers-ready-timeout"
          - "300"
          - "--options"
          - "mem {{ .Values.database.te.memoryOption}} {{- range $opt, $val := .Values.database.te.engineOptions }} {{$opt}} {{$val}} {{- end}}"
          - "--labels"
          - "{{- range $opt, $val := .Values.database.te.labels }} {{$opt}} {{$val}} {{- end}}"
{{- range $opt, $val := .Values.database.te.otherOptions }}
          - "--{{$opt}}"
          - "{{$val}}"
{{- end}}
    {{- include "database.envFrom" . | indent 8 }}
        env:
          - name: NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - { name: DB_NAME,             value: {{ .Values.database.name | quote }} }
          - { name: NUOCMD_API_SERVER,   value: "{{ template "admin.address" . }}:8888" }
          - { name: PEER_ADDRESS,        value: "{{ template "admin.address" . }}" }
        ports:
        - containerPort: 48006
          protocol: TCP
        resources:
{{ toYaml .Values.database.te.resources | trim | indent 10 }}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - name: logdir
          mountPath: /var/log/nuodb
        - name: nuote
          mountPath: /usr/local/bin/nuote
          subPath: nuote
        {{- if .Values.admin.tlsCACert }}
        - name: tls-ca-cert
          mountPath: /etc/nuodb/keys/ca.cert
          subPath: {{ .Values.admin.tlsCACert.key }}
        {{- end }}
        {{- if .Values.admin.tlsClientPEM }}
        - name: tls-client-pem
          mountPath: /etc/nuodb/keys/nuocmd.pem
          subPath: {{ .Values.admin.tlsClientPEM.key }}
        {{- end }}
        {{- if .Values.admin.tlsKeyStore }}
        - name: tls-keystore
          mountPath: /etc/nuodb/keys/nuoadmin.p12
          subPath: {{ .Values.admin.tlsKeyStore.key }}
        {{- end }}
{{- include "nuodb.imagePullSecrets" . | indent 6 }}
      volumes:
        - name: logdir
          emptyDir: {}
        - name: nuote
          configMap:
            name: {{ template "database.fullname" . }}-nuote
            defaultMode: 0777
        {{- if .Values.admin.tlsCACert }}
        - name: tls-ca-cert
          secret:
            secretName: {{ .Values.admin.tlsCACert.secret }}
            defaultMode: 0440
        {{- end }}
        {{- if .Values.admin.tlsClientPEM }}
        - name: tls-client-pem
          secret:
            secretName: {{ .Values.admin.tlsClientPEM.secret }}
            defaultMode: 0440
        {{- end }}
        {{- if .Values.admin.tlsKeyStore }}
        - name: tls-keystore
          secret:
            secretName: {{ .Values.admin.tlsKeyStore.secret }}
            defaultMode: 0440
        {{- end }}
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 15
{{- end }}
