apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    description: |-
      Database deployment resource for NuoDB Transaction Engines (TE).
{{- include "database.loadBalancerConfig" . | indent 4 }}
  labels:
    app: {{ template "database.fullname" . }}
    group: nuodb
    database: {{ .Values.database.name }}
    domain: {{ .Values.admin.domain }}
    chart: {{ template "database.chart" . }}
    release: {{ .Release.Name | quote }}
  name: te-{{ template "database.fullname" . }}
spec:
  replicas: {{ .Values.database.te.replicas }}
  selector:
    matchLabels:
      app: {{ template "database.fullname" . }}
      component: te
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: {{ template "database.fullname" . }}
        group: nuodb
        database: {{ .Values.database.name }}
        domain: {{ .Values.admin.domain }}
        component: te
        chart: {{ template "database.chart" . }}
        release: {{ .Release.Name | quote }}
    spec:
      serviceAccountName: {{ default "nuodb" .Values.nuodb.serviceAccount }}
      {{- with .Values.database.te.nodeSelector }}
      nodeSelector:
{{ toYaml . | trim | indent 8 }}
      {{- end }}
{{- if .Values.database.te.affinity }}
      affinity:
{{ tpl .Values.database.te.affinity . | trim | indent 8 }}
{{- end }}
      {{- if .Values.database.te.tolerations }}
      tolerations:
{{ toYaml .Values.database.te.tolerations | trim | indent 8 }}
      {{- end }}
      containers:
      - name: engine
        image: {{ template "nuodb.image" . }}
        imagePullPolicy: {{ .Values.nuodb.image.pullPolicy }}
    {{- include "database.capabilities" . | indent 8 }}
        args:
          - "nuote"
          - "--database-created-timeout"
          - "300"
          - "--servers-ready-timeout"
          - "300"
          - "--options"
          - "mem {{ .Values.database.te.resources.requests.memory}} {{- range $opt, $val := .Values.database.te.engineOptions }} {{$opt}} {{$val}} {{- end}}"
        {{- with .Values.database.te.labels }}
          - "--labels"
          - "{{- range $opt, $val := . }} {{$opt}} {{$val}} {{- end}}"
        {{- end }}
{{- range $opt, $val := .Values.database.te.otherOptions }}
          - "--{{$opt}}"
          - "{{$val}}"
{{- end}}
    {{- include "database.envFrom" . | indent 8 }}
        env:
          - name: NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: POD_UID
            valueFrom:
              fieldRef:
                fieldPath: metadata.uid
          - name: NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          - { name: DB_NAME,             value: {{ .Values.database.name | quote }} }
          - { name: NUOCMD_API_SERVER,   value: "{{ template "admin.address" . }}:8888" }
          - { name: PEER_ADDRESS,        value: "{{ template "admin.address" . }}" }
          - { name: COMPONENT_NAME,      value: "te" }
          - { name: OVERWRITE_COPIES,    value: "{{ .Values.database.te.logPersistence.overwriteBackoff.copies | default "3" }}" }
          - { name: OVERWRITE_WINDOW,    value: "{{ .Values.database.te.logPersistence.overwriteBackoff.windowMinutes | default "120" }}" }
{{- include "database.env" . | indent 10 }}
      {{- if .Values.admin.tlsKeyStore }}
        {{- if .Values.admin.tlsKeyStore.password }}
          - { name: NUODOCKER_KEYSTORE_PASSWORD,    value: {{ .Values.admin.tlsKeyStore.password | quote }} }
        {{- end }}
      {{- end }}
        ports:
        - containerPort: 48006
          protocol: TCP
        resources:
{{ toYaml .Values.database.te.resources | trim | indent 10 }}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        {{- with .Values.database.configFiles }}
        {{- range $key, $val := . }}
        - name: configurations
          mountPath: {{ $.Values.database.configFilesPath }}{{ $key }}
          subPath: {{ $key }}
        {{- end -}}
        {{- end }}
        - name: log-te-volume
          mountPath: /var/log/nuodb
        - name: nuote
          mountPath: /usr/local/bin/nuote
          subPath: nuote
        - name: readinessprobe
          mountPath: /usr/local/bin/readinessprobe
          subPath: readinessprobe
        {{- if .Values.admin.tlsCACert }}
        - name: tls-ca-cert
          mountPath: /etc/nuodb/keys/ca.cert
          subPath: {{ .Values.admin.tlsCACert.key }}
        {{- end }}
        {{- if .Values.admin.tlsClientPEM }}
        - name: tls-client-pem
          mountPath: /etc/nuodb/keys/nuocmd.pem
          subPath: {{ .Values.admin.tlsClientPEM.key }}
        {{- end }}
        {{- if .Values.admin.tlsKeyStore }}
        - name: tls-keystore
          mountPath: /etc/nuodb/keys/nuoadmin.p12
          subPath: {{ .Values.admin.tlsKeyStore.key }}
        {{- end }}
        readinessProbe:
          initialDelaySeconds: 30
          periodSeconds: 5
          exec:
            command: [ "readinessprobe" ]
          failureThreshold: 54
          # the TE becomes unready if it does not start within 5 minutes = 30s + 5s*54
          successThreshold: 2
          timeoutSeconds: {{ default 5 .Values.database.te.readinessTimeoutSeconds }}
{{- if and .Values.database.insights .Values.insights.enabled }}
      - name: insights
        image: {{ template "insights.image" . }}
        imagePullPolicy: {{ .Values.insights.image.pullPolicy }}
        tty: true
        volumeMounts:
        - mountPath: /etc/telegraf/telegraf.d/
          name: insights-config
      - name: insights-config
        image: {{ template "insights.watcher" . }}
        imagePullPolicy: {{ .Values.insights.watcher.pullPolicy }}
        env:
        - name: LABEL
          value: {{ .Values.database.insights | quote }}
        - name: FOLDER
          value: /etc/telegraf/telegraf.d/
        - name: REQ_URL
          value: http://0.0.0.0:5000/reload
        volumeMounts:
        - name: insights-config
          mountPath: /etc/telegraf/telegraf.d/
        - name: log-te-volume
          mountPath: /var/log/nuodb
      shareProcessNamespace: true
{{- end }}
{{- include "nuodb.imagePullSecrets" . | indent 6 }}
      volumes:
        {{- if and .Values.database.insights .Values.insights.enabled }}
        - name: insights-config
          emptyDir: {}
        {{- end }}
        {{- if .Values.database.configFiles }}
        - name: configurations
          configMap:
            name: {{ template "database.fullname" . }}-configuration
        {{- end }}
        - name: log-te-volume
  {{- if not .Values.database.te.logPersistence.enabled }}
          emptyDir: {}
        {{- else }}
          persistentVolumeClaim:
            claimName: {{ .Values.database.name }}-log-te-volume
        {{- end }}
        - name: nuote
          configMap:
            name: {{ template "database.fullname" . }}-nuote
            defaultMode: 0777
        - name: readinessprobe
          configMap:
            name: {{ template "database.fullname" . }}-readinessprobe
            defaultMode: 0777
        {{- if .Values.admin.tlsCACert }}
        - name: tls-ca-cert
          secret:
            secretName: {{ .Values.admin.tlsCACert.secret }}
            defaultMode: 0440
        {{- end }}
        {{- if .Values.admin.tlsClientPEM }}
        - name: tls-client-pem
          secret:
            secretName: {{ .Values.admin.tlsClientPEM.secret }}
            defaultMode: 0440
        {{- end }}
        {{- if .Values.admin.tlsKeyStore }}
        - name: tls-keystore
          secret:
            secretName: {{ .Values.admin.tlsKeyStore.secret }}
            defaultMode: 0440
        {{- end }}
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 15
