
{{- if .Values.nuocollector }}
{{- if and (eq (include "defaultfalse" .Values.nuocollector.enabled) "true") .Values.nuocollector.plugins }}
{{- if .Values.nuocollector.plugins.database }}
{{- range $pluginName, $content := .Values.nuocollector.plugins.database }}
{{- if $content }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
   {{- include "database.resourceLabels" . | nindent 4 }}
    "nuodb.com/nuocollector-plugin": {{ template "database.fullname" $ }}
  name: nuocollector-{{ template "database.fullname" $ }}-{{ $pluginName }}
data:
  {{ $pluginName }}.conf: |-
    {{- tpl $content $ | nindent 4}}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
{{- end }}
