{{- if eq (include "defaultfalse" .Values.database.te.externalAccess.enabled) "true" }}
apiVersion: v1
kind: Service
metadata:
  annotations:
    description: "Service (and load-balancer) for TE pods."
    "service.alpha.kubernetes.io/tolerate-unready-endpoints": "true"
{{- include "database.externalAccessAnnotations" . | indent 4 }}
  labels:
    app: {{ template "database.fullname" . }}
    group: nuodb
    database: {{ .Values.database.name }}
    domain: {{ .Values.admin.domain }}
    chart: {{ template "database.chart" . }}
    release: {{ .Release.Name | quote }}
  name: {{ template "database.externalServiceName" . }}
spec:
  publishNotReadyAddresses: true
  ports:
  - { name: 48006-tcp,  port: 48006,  protocol: TCP,  targetPort: 48006 }
  selector:
    app: {{ template "database.fullname" . }}
    component: te
  sessionAffinity: None
  type: {{ default "LoadBalancer" .Values.database.te.externalAccess.type }}
status:
  loadBalancer: {}
{{- end}}